apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devops-app

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - configmap.yaml

labels:
  - pairs:
      app.kubernetes.io/name: devops-demo
      app.kubernetes.io/managed-by: argocd
